extends base.pug
include mixins/video

block content 
    form(method="GET")
        input(placeholder="Search by text", type="text", name="keyword")
        input(type="submit", value="Search Now")

    each video in videos
        +video(video) 